$color-principal: #ffe4ec;
$color-botones: #ffc1d5;
$color-boton-hover: #eb9ac0;
$color-shadow: #f3aacb;
$color-gris-hover:hsla(340, 5%, 78%, 0.87);
$color-acordion: #fbd5e5;
$color-informaciones: #f7bfd8;