@import "../base/variables";

.header-top {
    width: 100%;
    background-color: $color-principal;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    font-family: 'Arima', cursive;
    .header-compra {
        width: 100%;
        display: inline-block;
        display: flex;
        justify-content: center;
        flex-direction: row;
        list-style: none;
        font-family: 'Arima', cursive;
        font-size: 1.25em;
        align-items: center;
        align-content: center;
        li {
            a {
                color: black;
                text-decoration: none;
                transition: 1s;
                img {
                    width: 28px;
                    height: 28px;
                    margin-left: 25px;
                }
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}


header {
background-color: $color-principal;
position: sticky;
width: 100%;
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: center;
.header-contenedor {
    width: 40rem;
    box-sizing: border-box;
    display: flex;
    .header-logo {
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
}

.header-menu {
background-color: $color-principal;
width: 100%;
.navbar {
    .nav-item {
        font-family: 'Arima', cursive;
        font-size: 1.25em;
        margin-left: 2.18rem;
        color: black;
        list-style: none;
        a {
            &:hover {
                font-weight: bold;
            }
        }
    }
}
}
