@import "../base/variables";

/*index-MAIN y pages-productos*/
.hero {
    width: 100%;
    box-sizing: border-box;
}

.productos {
    h1 {
        font-family: 'Pacifico', cursive;
        text-align: center;
        font-size: 1.75em;
        color: black;
        margin: 1rem;
    }
    .productos-listado {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 12px;
        .productos-listado-detalle {
            max-width: 300px;
            height: 450px;
            border: 1px solid rgb(207, 198, 198);
            margin: 6px;
            border-top-right-radius: 10px;
            background-color: $color-principal;
            img {
                width: 300px;
                height: 300px;
                border-top-right-radius: 10px
            }
            h2 {
                font-family: 'Arima', cursive;
                font-size: 22px;
                font-style: normal;
                text-align: left;
                color: black;
                padding-left: 5px;
            }
            h3{
                font-family: 'Arima', cursive;
                font-size: 16px;
                font-style: normal;
                text-align: left;
                color: black;
                padding-left: 5px;
            }
            h4{
                font-family: 'Arima', cursive;
                font-size: 22px;
                font-style: normal;
                margin-bottom: 10px;
                text-align: left;
                color: black;
                padding-left: 5px;
            }
            &:hover{
                box-shadow: 0px 10px 15px 0px $color-shadow;
            }
            .boton{
                text-decoration: none;
                color: black;
                padding: 6px;
                background-color: $color-botones;
                border-radius: 5px;
                font-family: 'Arima', cursive;
                font-size: 18px;
                transition: 1s;
                &:hover{
                    background-color: $color-boton-hover;
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }
}
.contenedor-boton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .boton-ver-mas{
        .link{
            text-decoration: none;
            text-align: center; 
            color: black;
            padding: 6px;
            background-color: $color-botones;
            border-radius: 5px;
            font-family: 'Arima', cursive;
            font-size: 17px;
        }
        &:hover{
            background-color: $color-boton-hover;
            font-weight: bold;
            color: black;
        }
    }
}
.tiempo{
    width: 100%;
    height: 100%;
    padding: 5px;
    background-image: url("../img/demoraprueba.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0.3125em;
    margin-top: 0.625em;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    div{
        width: 80%;
        h2{
            font-family: 'Arima', cursive;
            font-size: 1.625em;
            font-style: normal;
            text-align: right;
            color: black;
            margin-bottom: 1.25rem;
            margin: 1.25rem; 
        }
        h3{
            font-family: 'Arima', cursive;
            font-size: 1.25em;
            font-style: italic;
            font-weight: bold;
            text-align: center;
            color: black;
            text-align: right;
            margin-bottom: 0.9375rem;
            margin: 1.25rem;
        }
        p{
            font-family: 'Arima', cursive;
            font-size: 1em;
            font-style: normal;
            text-align: right;
            color: black;
            margin: 1.25rem; 
        }
    }
}
/*grid del index*/
.grid-container{
    width: 100%;
    margin: 5px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 200px;
    .img1{
        grid-column: span 2;
    }
    .regalos{
        width: 100%;
        height: 100%;
        font-family: 'Arima', cursive;
        font-size: 1.5em;
        font-style: bold;
        font-style: normal;
        text-align: center;
        color: black;
        padding: 1.25em; 
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s;
        &:hover{
            box-shadow: 0px 10px 6px 0px $color-boton-hover;
            }
        }
}